#unity-objects-description-cell
{
    flex-grow: 1;
}

#unity-objects-description-cell__container
{
    flex-direction: row;
    flex-grow: 1;
}

#unity-objects-description-cell__icon
{
    -unity-background-scale-mode: scale-to-fit;
    flex-shrink: 0;
    width: 16px;
}

#unity-objects-description-cell__label
{
    -unity-text-align: middle-left;
    margin-left: 4px;
}

#unity-objects-description-cell__secondary-label
{
    -unity-text-align: middle-left;
    color: gray;
    margin-left: 4px;
}
