/* 
 * UnityObjectsComparisonView.uss
 * Unity Objects specific comparison view styles.
 * Most styles come from ComparisonViewBase.uss
 */

@import url("../../Shared/Comparison/ComparisonViewBase.uss");

/* Extend base theme classes if necessary to add theme style differences as variables - the shared color variables come from TableViewBase.uss and ComparisonViewBase.uss*/
.table-view-base__dark:root
{
}

.table-view-base__light:root
{
}

/* Unity Objects specific overrides */

.unity-objects-comparison-view__secondary__description-label
{
    -unity-text-align: middle-right;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#unity-objects-comparison-view__secondary__base
{
    margin-right: 8px;
    width: 50%;
}

#unity-objects-comparison-view__secondary__base-table-container
{
    flex-grow: 1;
}

#unity-objects-comparison-view__secondary__compared
{
    margin-left: 8px;
    width: 50%;
}

#unity-objects-comparison-view__secondary__compared-table-container
{
    flex-grow: 1;
}

#unity-objects-comparison-view__secondary MultiColumnTreeView
{
    height: 120px;
}

#unity-objects-comparison-view__footer-toolbar__flatten-toggle
{
    padding: 0px 12px;
}

