/* 
 * AllTrackedMemoryTableView.uss
 * Styles specific to the All Tracked Memory table view.
 * Imports common table view styles from TableViewBase.uss
 */

@import url("../../Shared/TableViewBase.uss");

/* Extend base theme classes if necessary to add theme style differences as variables - the shared color variables come from TableViewBase.uss */
.table-view-base__dark:root
{
}

.table-view-base__light:root
{
}

/* All Tracked Memory specific: nothing yet, add below */
