.unity-toolbar-menu {
	flex-direction: row;
}

.unity-base-popup-field__arrow{
	background-image: resource("Icons/icon dropdown.png");
	width: 5px;
	height: 3px;
	margin-top: 2px;
}

.drop-down-toggle__drop-down-part {
	margin-right: -4px;
	width: 16px;
	margin-left: -4px;
	padding-left: 0px;
	padding-right: 2px;
}